@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face{
  font-family: 'OpenSans';
  src: url(../public/font/OpenSans.ttf);
}

@font-face{
  font-family: 'KanitBoldItalic';
  src: url(../public/font/Kanit-BoldItalic.ttf);
}

@font-face{
  font-family: 'MontserratRegular';
  src: url(../public/font/MontserratRegular.ttf);
}

@font-face{
  font-family: 'PermanentMarkerRegular';
  src: url(../public/font/PermanentMarkerRegular.ttf);
}

@font-face{
  font-family: 'InterRegular';
  src: url(../public/font/Inter-Regular.ttf);
}
